.card {
  margin: 0 2% !important;
}
<<<<<<< HEAD
.deltaValTypo {
  display: inline;
}

@media only screen and (max-width: 1185px) {
  .card {
    margin: 2% 0 !important;
  }
  .deltaValTypo {
    display: block;
  }
}
=======
>>>>>>> 39d00aea93b240f06de41e9d19773b3b4090366e

@media only screen and (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
<<<<<<< HEAD
  .deltaValTypo {
    display: inline;
  }
=======
>>>>>>> 39d00aea93b240f06de41e9d19773b3b4090366e
}
